USE [master]
GO
/****** Object:  Database [Airport]    Script Date: 29/06/2021 8:42:57 PM ******/
CREATE DATABASE [Airport]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Airport', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Airport.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Airport_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Airport_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Airport].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Airport]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 29/06/2021 8:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 29/06/2021 8:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 29/06/2021 8:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 29/06/2021 8:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 29/06/2021 8:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 29/06/2021 8:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Age] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[PassPortId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cities]    Script Date: 29/06/2021 8:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [nvarchar](128) NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
	[CountryId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Companies]    Script Date: 29/06/2021 8:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [nvarchar](128) NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompanyPlans]    Script Date: 29/06/2021 8:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyPlans](
	[Id] [nvarchar](128) NOT NULL,
	[PlanType] [tinyint] NOT NULL,
	[CompanyId] [nvarchar](128) NOT NULL,
	[PlanSize] [int] NOT NULL,
 CONSTRAINT [PK_CompanyPlans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 29/06/2021 8:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [nvarchar](128) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FlightClasses]    Script Date: 29/06/2021 8:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlightClasses](
	[Id] [nvarchar](128) NOT NULL,
	[PlanId] [nvarchar](128) NOT NULL,
	[Classtype] [tinyint] NOT NULL,
	[SeatNumbers] [float] NOT NULL,
	[PackageSize] [float] NOT NULL,
	[Packagenumber] [int] NOT NULL,
	[RatioPrice] [float] NOT NULL,
 CONSTRAINT [PK_FlightClasses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Flights]    Script Date: 29/06/2021 8:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flights](
	[Id] [nvarchar](128) NOT NULL,
	[FlyingCityId] [nvarchar](128) NOT NULL,
	[LandingCityId] [nvarchar](128) NOT NULL,
	[FlightDate] [datetime] NOT NULL,
	[FlightsDuration] [float] NOT NULL,
	[planId] [nvarchar](128) NOT NULL,
	[PassengersSeats] [int] NOT NULL,
	[OWSeatCost] [float] NOT NULL,
	[OWenfuntCost] [float] NOT NULL,
	[RTSeatCost] [float] NOT NULL,
	[RTenfuntCost] [float] NOT NULL,
	[Imagepath] [ntext] NOT NULL,
 CONSTRAINT [PK_Flights] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserFlights]    Script Date: 29/06/2021 8:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFlights](
	[Id] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[FlightId] [nvarchar](128) NOT NULL,
	[ClassId] [nvarchar](128) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[numberofEnfant] [int] NOT NULL,
	[numberofAdult] [int] NOT NULL,
	[Priceadult] [float] NOT NULL,
	[PriceEnfunt] [float] NOT NULL,
	[Flighttype] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserFlights] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'4322d361-024e-4680-a667-0fdbba401b06', N'admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'4322d361-024e-4680-a667-0fdbba401b02', N'emp')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'4322d361-024e-4680-a667-0fdbba401b01', N'user')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1289de00-ce93-47cf-aa0a-cde522a8f383', N'4322d361-024e-4680-a667-0fdbba401b02')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'33f7431f-1fda-4f9e-bc95-4c36a53dcff6', N'4322d361-024e-4680-a667-0fdbba401b02')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'44bfca22-2b32-46f5-95f3-14f9449d2bd2', N'4322d361-024e-4680-a667-0fdbba401b01')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [Age], [Gender], [PassPortId]) VALUES (N'1289de00-ce93-47cf-aa0a-cde522a8f383', N'marawakharof@gmail.com', 0, N'AHunH/dni5dyREFOcRQy42xArrCkx76cWqoT0jd3jEktCHYzFbIdyvtm71ePsdZVeA==', N'a4fcf7a2-2b5e-4dc6-8491-dcdc7a661317', NULL, 0, 0, NULL, 1, 0, N'marawakharof@gmail.com', N'marawa', N'kharof', N'23', N'Female', NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [Age], [Gender], [PassPortId]) VALUES (N'33f7431f-1fda-4f9e-bc95-4c36a53dcff6', N'marwa@gmail.com', 0, N'ACkpQx1KG+tnFTxSTPJcAc9V1WT805E6lzSaLPlJFDUjPflMKEmlRIx57R2omEheSw==', N'81585554-1426-4351-8dfd-059b45294a4a', NULL, 0, 0, NULL, 1, 0, N'marwa@gmail.com', N'marwa', N'khalof', N'22', N'Female', NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [Age], [Gender], [PassPortId]) VALUES (N'44bfca22-2b32-46f5-95f3-14f9449d2bd2', N'AirportUser@gmail.com', 0, N'ALxOX34RkEW5r4mkucDzLTdNxV8OwrJ/7oHZILC+DDUGb3pP6KNZf1P8vDTeUMC0lQ==', N'72abb843-2d05-496a-97d4-7e147cc88c3a', NULL, 0, 0, NULL, 1, 0, N'AirportUser@gmail.com', N'ahmad', N'hisham', N'42', N'male', N'123456789')
INSERT [dbo].[Cities] ([Id], [CityName], [CountryId]) VALUES (N'2522da1f-f5b5-4de3-8be0-2b7dce3f7a01', N'Ottawa', N'042edf96-5c00-4609-ba18-0a33b8213f89')
INSERT [dbo].[Cities] ([Id], [CityName], [CountryId]) VALUES (N'290c3292-c57d-49ab-8111-25be68d5c8e5', N'Nuuk', N'07619afa-710e-4594-adba-3a892ace3d41')
INSERT [dbo].[Cities] ([Id], [CityName], [CountryId]) VALUES (N'370f393e-45ce-4259-9896-87f7b1c96eab', N'Malé', N'5d616fd7-4606-463a-a7e1-60567f9b681d')
INSERT [dbo].[Companies] ([Id], [CompanyName]) VALUES (N'7e8acac3-2391-4fe0-9045-592ad3ae0dcd', N'Cham Wings')
INSERT [dbo].[CompanyPlans] ([Id], [PlanType], [CompanyId], [PlanSize]) VALUES (N'4322d361-024e-4680-a667-0fdbba401b06', 1, N'7e8acac3-2391-4fe0-9045-592ad3ae0dcd', 66)
INSERT [dbo].[CompanyPlans] ([Id], [PlanType], [CompanyId], [PlanSize]) VALUES (N'6b6be4a6-857c-480a-b279-4109ad8aac43', 5, N'7e8acac3-2391-4fe0-9045-592ad3ae0dcd', 32)
INSERT [dbo].[CompanyPlans] ([Id], [PlanType], [CompanyId], [PlanSize]) VALUES (N'997817e3-c68b-47c4-a785-7d683cdeaaa2', 4, N'7e8acac3-2391-4fe0-9045-592ad3ae0dcd', 500)
INSERT [dbo].[Countries] ([Id], [CountryName]) VALUES (N'019f0ed3-552e-4153-aa3e-8bc684326a78', N'syria')
INSERT [dbo].[Countries] ([Id], [CountryName]) VALUES (N'042edf96-5c00-4609-ba18-0a33b8213f89', N'Canada')
INSERT [dbo].[Countries] ([Id], [CountryName]) VALUES (N'07619afa-710e-4594-adba-3a892ace3d41', N'Greenland')
INSERT [dbo].[FlightClasses] ([Id], [PlanId], [Classtype], [SeatNumbers], [PackageSize], [Packagenumber], [RatioPrice]) VALUES (N'1374150a-8f8e-4b8a-97d9-3baa3ac08a34', N'fdfc1147-26cb-4358-a67c-aa151e83025c', 2, 150, 20, 2, 25)
INSERT [dbo].[FlightClasses] ([Id], [PlanId], [Classtype], [SeatNumbers], [PackageSize], [Packagenumber], [RatioPrice]) VALUES (N'1ae7eb86-0f73-40dc-83c0-dbaa00175bfe', N'4322d361-024e-4680-a667-0fdbba401b06', 1, 10, 60, 3, 20)
INSERT [dbo].[FlightClasses] ([Id], [PlanId], [Classtype], [SeatNumbers], [PackageSize], [Packagenumber], [RatioPrice]) VALUES (N'395dfb48-5b6a-403c-a94e-2139d5b47564', N'fdfc1147-26cb-4358-a67c-aa151e83025c', 1, 150, 30, 1, 10)
INSERT [dbo].[Flights] ([Id], [FlyingCityId], [LandingCityId], [FlightDate], [FlightsDuration], [planId], [PassengersSeats], [OWSeatCost], [OWenfuntCost], [RTSeatCost], [RTenfuntCost], [Imagepath]) VALUES (N'3a2f7baa-82e0-46e5-8885-525006cb7cce', N'370f393e-45ce-4259-9896-87f7b1c96eab', N'2522da1f-f5b5-4de3-8be0-2b7dce3f7a01', CAST(N'2021-06-30 00:00:00.000' AS DateTime), 30, N'4322d361-024e-4680-a667-0fdbba401b06', 155, 1500, 1500, 1500, 1500, N'/images/page2_img1.jpg')
INSERT [dbo].[Flights] ([Id], [FlyingCityId], [LandingCityId], [FlightDate], [FlightsDuration], [planId], [PassengersSeats], [OWSeatCost], [OWenfuntCost], [RTSeatCost], [RTenfuntCost], [Imagepath]) VALUES (N'3e265241-fcb6-4fb6-b004-93a8142d7131', N'51cb2261-3d77-432b-8e89-7686adc5aa16', N'51cb2261-3d77-432b-8e89-7686adc5aa16', CAST(N'2021-07-01 00:00:00.000' AS DateTime), 2, N'997817e3-c68b-47c4-a785-7d683cdeaaa2', 11, 1100, 1500, 3500, 3500, N'/images/.jpg')
INSERT [dbo].[Flights] ([Id], [FlyingCityId], [LandingCityId], [FlightDate], [FlightsDuration], [planId], [PassengersSeats], [OWSeatCost], [OWenfuntCost], [RTSeatCost], [RTenfuntCost], [Imagepath]) VALUES (N'8411fec5-c798-4a85-adaa-b00e5db465b5', N'51cb2261-3d77-432b-8e89-7686adc5aa16', N'60c0b3ee-35e3-44dd-a4d7-5cbddf998964', CAST(N'2021-07-02 00:00:00.000' AS DateTime), 30, N'997817e3-c68b-47c4-a785-7d683cdeaaa2', 80, 800, 800, 0, 0, N'/images/page2_img4.jpg')
INSERT [dbo].[UserFlights] ([Id], [UserId], [FlightId], [ClassId], [CreationDate], [Status], [numberofEnfant], [numberofAdult], [Priceadult], [PriceEnfunt], [Flighttype]) VALUES (N'18040cbf-612f-4b30-8a36-2301b26f1bc2', N'd4825107-5346-4159-9c7c-c456ef63d3e4', N'3a2f7baa-82e0-46e5-8885-525006cb7cce', N'827dcdef-0ac5-452d-bd6d-cb554d301eb0', CAST(N'2021-06-26 15:27:43.617' AS DateTime), 0, 1, 1, 1500, 1500, N'one way')
INSERT [dbo].[UserFlights] ([Id], [UserId], [FlightId], [ClassId], [CreationDate], [Status], [numberofEnfant], [numberofAdult], [Priceadult], [PriceEnfunt], [Flighttype]) VALUES (N'f7d21c65-5925-45db-8580-420c69cbea9b', N'd4825107-5346-4159-9c7c-c456ef63d3e4', N'3a2f7baa-82e0-46e5-8885-525006cb7cce', N'827dcdef-0ac5-452d-bd6d-cb554d301eb0', CAST(N'2021-06-26 08:43:36.593' AS DateTime), 1, 2, 1, 1500, 1500, N'one way')
INSERT [dbo].[UserFlights] ([Id], [UserId], [FlightId], [ClassId], [CreationDate], [Status], [numberofEnfant], [numberofAdult], [Priceadult], [PriceEnfunt], [Flighttype]) VALUES (N'fa5eee0a-d844-4e34-bb63-6449af29ce9f', N'44bfca22-2b32-46f5-95f3-14f9449d2bd2', N'3a2f7baa-82e0-46e5-8885-525006cb7cce', N'827dcdef-0ac5-452d-bd6d-cb554d301eb0', CAST(N'2021-06-26 15:42:26.197' AS DateTime), 0, 1, 1, 1500, 1500, N'one way')
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 29/06/2021 8:42:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 29/06/2021 8:42:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 29/06/2021 8:42:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 29/06/2021 8:42:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 29/06/2021 8:42:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 29/06/2021 8:42:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Countries]
GO
ALTER TABLE [dbo].[CompanyPlans]  WITH CHECK ADD  CONSTRAINT [FK_CompanyPlans_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
GO
ALTER TABLE [dbo].[CompanyPlans] CHECK CONSTRAINT [FK_CompanyPlans_Companies]
GO
ALTER TABLE [dbo].[FlightClasses]  WITH CHECK ADD  CONSTRAINT [FK_FlightClasses_CompanyPlans] FOREIGN KEY([PlanId])
REFERENCES [dbo].[CompanyPlans] ([Id])
GO
ALTER TABLE [dbo].[FlightClasses] CHECK CONSTRAINT [FK_FlightClasses_CompanyPlans]
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD  CONSTRAINT [FK_Flights_Cities] FOREIGN KEY([FlyingCityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Flights] CHECK CONSTRAINT [FK_Flights_Cities]
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD  CONSTRAINT [FK_Flights_Cities1] FOREIGN KEY([LandingCityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Flights] CHECK CONSTRAINT [FK_Flights_Cities1]
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD  CONSTRAINT [FK_Flights_CompanyPlans] FOREIGN KEY([planId])
REFERENCES [dbo].[CompanyPlans] ([Id])
GO
ALTER TABLE [dbo].[Flights] CHECK CONSTRAINT [FK_Flights_CompanyPlans]
GO
ALTER TABLE [dbo].[UserFlights]  WITH CHECK ADD  CONSTRAINT [FK_UserFlights_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserFlights] CHECK CONSTRAINT [FK_UserFlights_AspNetUsers]
GO
ALTER TABLE [dbo].[UserFlights]  WITH CHECK ADD  CONSTRAINT [FK_UserFlights_FlightClasses] FOREIGN KEY([ClassId])
REFERENCES [dbo].[FlightClasses] ([Id])
GO
ALTER TABLE [dbo].[UserFlights] CHECK CONSTRAINT [FK_UserFlights_FlightClasses]
GO
ALTER TABLE [dbo].[UserFlights]  WITH CHECK ADD  CONSTRAINT [FK_UserFlights_Flights] FOREIGN KEY([FlightId])
REFERENCES [dbo].[Flights] ([Id])
GO
ALTER TABLE [dbo].[UserFlights] CHECK CONSTRAINT [FK_UserFlights_Flights]
GO
USE [master]
GO
